@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Pacifico&display=swap');
:root{
  --border-color : linear-gradient(red,orange,yellow);
}
*{
 font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-banner {
  background-color: #3B9AE1;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAHlBMVEUAAABkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGRkZGSH0mEbAAAACnRSTlMAzDPDPPPYnGMw2CgMzQAAAChJREFUKM9jgAPOAgZMwGIwKkhXQSUY0BCCMxkEYUAsEM4cjI4fwYIAf2QMNbUsZjcAAAAASUVORK5CYII=');
  background-size: 8px;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
  background: -webkit-linear-gradient(
    130deg,
    hsl(280, 91%, 61%),
    rgb(255, 64, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}